In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df = df.drop(columns = ['area_type','availability','society','balcony'])
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [5]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [6]:
df['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [7]:
df['location'] = df['location'].fillna('Whitefield')

In [8]:
df['size'] = df['size'].fillna('2 BHK')

In [9]:
df['bath'] = df['bath'].fillna(df['bath'].median())

In [10]:
print(df['location'].value_counts())
print(df['size'].value_counts())
print(df.info())

Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
2 BHK         5215
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB
None

In [11]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [12]:
df['BHK'] = df['size'].apply(lambda x: int(x.split()[0]))
df.drop(columns = ['size'],inplace = True)
df.head()

                   location total_sqft  bath   price  BHK
0  Electronic City Phase II       1056   2.0   39.07    2
1          Chikka Tirupathi       2600   5.0  120.00    4
2               Uttarahalli       1440   2.0   62.00    3
3        Lingadheeranahalli       1521   3.0   95.00    3
4                  Kothanur       1200   2.0   51.00    2

In [13]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [14]:
def is_float(x):
    
    try :
        float(x)
    except:
        return False

    return True

In [15]:
# df[~df['total_sqft'].apply(is_float)]['total_sqft'].unique()

In [16]:
def range_to_num(x):
    
    y = x.split('-')
    
    if(len(y) == 2) :
        return (float(y[0]) + float(y[1]))/2
    try:
        return float(x)
    except:
        return None

In [17]:
range_to_num('1056')

1056.0

In [18]:
range_to_num('1020 - 1130')

1075.0

In [19]:
range_to_num('300Sq. Yards')

In [20]:
df['total_sqft'] = df['total_sqft'].apply(range_to_num)

In [21]:
df.dropna(inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13274 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13274 non-null  object
 1   total_sqft  13274 non-null  float64
 2   bath        13274 non-null  float64
 3   price       13274 non-null  float64
 4   BHK         13274 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 622.2+ KB

In [22]:
df['location'].unique().shape

(1299,)

In [23]:
df['location'].value_counts()

Whitefield                        539
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    271
Thanisandra                       233
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
Kannur                              1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1299, dtype: int64

In [24]:
loc_stats = df['location'].value_counts().sort_values(ascending = False)
loc_stats

Whitefield                       539
Sarjapur  Road                   399
Electronic City                  302
Kanakpura Road                   271
Thanisandra                      233
                                ...
Gubbi Cross, Hennur Main Road      1
HSR Layout 7th sector,             1
Konappana Agrahara                 1
Vinayaka Layout                    1
Abshot Layout                      1
Name: location, Length: 1299, dtype: int64

In [25]:
loc_stats[loc_stats <= 10]

Nagadevanahalli                  10
Dodsworth Layout                 10
Kalkere                          10
Ganga Nagar                      10
Thyagaraja Nagar                 10
                                 ..
Gubbi Cross, Hennur Main Road     1
HSR Layout 7th sector,            1
Konappana Agrahara                1
Vinayaka Layout                   1
Abshot Layout                     1
Name: location, Length: 1059, dtype: int64

In [26]:
loc_stats[loc_stats <= 10].shape

(1059,)

In [27]:
loc_stats[loc_stats > 10].shape

(240,)

In [28]:
loc_stats_less_than_10 = loc_stats[loc_stats <= 10]

In [29]:
df['location'] = df['location'].apply(lambda x: 'other' if x in loc_stats_less_than_10 else x)
df['location'].value_counts()

other                        2891
Whitefield                    539
Sarjapur  Road                399
Electronic City               302
Kanakpura Road                271
                             ...
Pattandur Agrahara             11
2nd Phase Judicial Layout      11
Bommenahalli                   11
Marsur                         11
LB Shastri Nagar               11
Name: location, Length: 241, dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13274 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13274 non-null  object
 1   total_sqft  13274 non-null  float64
 2   bath        13274 non-null  float64
 3   price       13274 non-null  float64
 4   BHK         13274 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 622.2+ KB

In [31]:
df['price_per_sqft'] = (df['price'] * 100000 ) / df['total_sqft']
df = df.drop(columns = 'price')
df.head()

                   location  total_sqft  bath  BHK  price_per_sqft
0  Electronic City Phase II      1056.0   2.0    2     3699.810606
1          Chikka Tirupathi      2600.0   5.0    4     4615.384615
2               Uttarahalli      1440.0   2.0    3     4305.555556
3        Lingadheeranahalli      1521.0   3.0    3     6245.890861
4                  Kothanur      1200.0   2.0    2     4250.000000

In [32]:
index1 = df[(df.total_sqft)/(df.BHK) < 300 ].index

df.drop(index1,inplace =True)

df.shape

(12530, 5)

In [33]:
index2 = df[df.BHK >5].index

df.drop(index2,inplace =True)

df.shape

(12347, 5)

In [34]:
df['price_per_sqft'].describe()

count     12347.000000
mean       6260.546285
std        4071.681132
min         267.829813
25%        4210.526316
50%        5291.005291
75%        6888.305313
max      176470.588235
Name: price_per_sqft, dtype: float64

In [35]:
# the minimum and maximum prices per sqft are outliers of the data base 
index3 = df[df.location == 'other'].index
df.drop(index3,inplace = True)
df.shape

(9856, 5)

In [36]:
def remove_outliers_pps(df):
    
    df_pps = pd.DataFrame()
    
    for key, subdf in df.groupby('location'):
        
        m = np.mean(subdf.price_per_sqft)
        
        s = np.std(subdf.price_per_sqft)
        
        df_output = subdf[(subdf.price_per_sqft > (m - s)) & (subdf.price_per_sqft < (m + s))]
        
        df_pps = pd.concat([df_pps,df_output],ignore_index = True )
        
    return df_pps

In [37]:
df = remove_outliers_pps(df)
df.shape

(7894, 5)

In [38]:
# now we have to do encoding for the categorical column

dummies = pd.get_dummies(df['location'])
dummies.head()

,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
print(df.shape)
print(dummies.shape)

(7894, 5)
(7894, 240)

In [40]:
df2 = pd.concat([df,dummies],axis = 'columns')
df2.head()

,location,total_sqft,bath,BHK,price_per_sqft,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,Devarachikkanahalli,1250.0,2.0,3,3520.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Devarachikkanahalli,1250.0,2.0,2,3200.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Devarachikkanahalli,1200.0,2.0,2,6916.666667,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Devarachikkanahalli,1170.0,2.0,2,3418.803419,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Devarachikkanahalli,1425.0,2.0,3,4561.403509,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
df3 = df2.drop(columns = ['location'])
df3.shape

(7894, 244)

In [42]:
X = df3.drop(columns = 'price_per_sqft')
Y = df3['price_per_sqft']

In [43]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,random_state = 10)

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

lr = LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression()

In [45]:
Y_pred = lr.predict(X_test)
r2_score(Y_test,Y_pred)

0.7180652210019276

In [86]:
from sklearn.linear_model import Lasso,Ridge

l = Lasso(alpha =0.00001)
r = Ridge(alpha =0.00001)

In [87]:
l.fit(X_train,Y_train)

C:\Users\sansk\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.643e+08, tolerance: 2.825e+06
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=1e-05)

In [88]:
r.fit(X_train,Y_train)

Ridge(alpha=1e-05)

In [89]:
Y_pred1 = l.predict(X_test)
r2_score(Y_test,Y_pred1)

0.7180651938029111

In [90]:
Y_pred2 = r.predict(X_test)
r2_score(Y_test,Y_pred2)

0.7180652027931725